body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg_color{
  background-color:#F8F9FA;
}

.custom_css{
     padding-top: 50px;
     padding-bottom: 50px;
}
.btn-primary{
  margin-top: 20px;

}
.liststyle{
  list-style: none;
  display: flex;
  justify-content: center;
  
}
.navcss{
  display: flex;
  list-style: none;
  justify-content: center;
}
/* .nav-item{
   
} */
.customstyle{
  justify-content: center;
  float: left;
  margin:10px ;
  /* margin-right: 10px;
  margin-left: 10px; */
}
.custom_text{
  margin-left: 10px;
}

.footer{
  display: flex;
}
.coment_card .custom_text h6{
  color: blue;
}
.coment_card .custom_text h6 span{
  color:gray;
}
.coment_card .custom_text .footer a{
  color: blue;
}
.imgset{
  margin-bottom: 10px;
}